<ul class="timeline">
    <li ng-repeat="project in projects" ng-class="{'timeline-inverted': $odd}">
        <div ng-class="getTimelineColorClass($index)" class="timeline-badge hvr-pulse">
            <span ng-class="{'glyphicon-credit-card': project.type == 'Website', 'glyphicon-th-large': project.type == 'Software'}" class="glyphicon"></span>
        </div>
        <div class="timeline-panel hvr-grow">
            <div class="timeline-heading">
                <span class="badge pull-right">{{ project.type }}</span>
                <h3 class="timeline-title">{{ project.name }}</h3>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Project was released on {{ project.released }}.</small></p>
            </div>
            <div class="timeline-body">
                <p>{{ project.description }}</p>
            </div>
            <div class="timeline-footer">
                <h4 class="pull-right">Team Members</h4>
                <div class="clearfix"></div>
                <div class="timeline-members">
                    <a tooltip
                       href="{{ member.profile }}" 
                       target="_blank"  
                       class="pull-right hvr-shrink"
                       ng-repeat="member in project.members" 
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       title="{{ member.name }}" 
                    >
                        <img ng-src="{{ member.image }}" alt="{{ member.name }}" class="img-circle">
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </li>
</ul>