<!DOCTYPE html>
<html lang="en" ng-app="websiteApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Projects I've worked on</title>

    <!-- build:template
    <link rel="stylesheet" href="<%= css %>">
    /build -->

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container-fluid container-colored">
        <div class="row">
            <div class="col-xs-2 bgcolor-red"></div>
            <div class="col-xs-2 bgcolor-orange"></div>
            <div class="col-xs-2 bgcolor-yellow"></div>
            <div class="col-xs-2 bgcolor-green"></div>
            <div class="col-xs-2 bgcolor-blue"></div>
            <div class="col-xs-2 bgcolor-darkblue"></div>
        </div>
    </div>

    <a href="https://github.com/jpcercal" target="_blank">
        <img class="ribbon hidden-xs hidden-sm" src="images/ribbon.png" alt="See my Profile on GitHub">
    </a>

    <div class="container">
        <div class="page-header">
            <h1 class="text-center" id="timeline">Projects I've worked on</h1>
            <p class="text-center">See more about me in <a href="https://br.linkedin.com/in/jpcercal" rel="_blank">https://br.linkedin.com/in/jpcercal</a>, updated at Jan/2016.</p>
        </div>
        <div ng-view></div>
    </div>

    <div class="container-fluid container-colored">
        <div class="row">
            <div class="col-xs-2 bgcolor-red"></div>
            <div class="col-xs-2 bgcolor-orange"></div>
            <div class="col-xs-2 bgcolor-yellow"></div>
            <div class="col-xs-2 bgcolor-green"></div>
            <div class="col-xs-2 bgcolor-blue"></div>
            <div class="col-xs-2 bgcolor-darkblue"></div>
        </div>
    </div>

    <!-- build:template
    <script src="<%= js %>"></script>
    /build -->

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-33310412-5', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
